@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext0 #a5adcb;
@define-color overlay0 #6e738d;
@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
  min-height: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  color: @text;
  background: alpha(@base, 0.98);
  border-bottom: 1px solid @surface1;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
}

#custom-launcher {
  min-width: 18px;
  padding: 0 5px;
  color: @text;
  background: transparent;
  font-size: 15px;
}

#custom-launcher:hover {
  color: @text;
  background: @surface0;
}

#workspaces {
  margin-right: 5px;
}

#workspaces button {
  min-width: 16px;
  padding: 0 5px;
  color: @text;
  background: transparent;
  opacity: 0.55;
}

#workspaces button:hover {
  color: @text;
  background: @surface0;
  box-shadow: none;
}

#workspaces button.focused,
#workspaces button.active {
  color: @text;
  background: transparent;
  font-size: 14px;
  opacity: 1;
}

#workspaces button.urgent {
  color: @text;
  background: @surface0;
  opacity: 1;
}

#mode {
  color: @text;
  background: @surface0;
}

#clock,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray,
#mode,
#custom-clipboard,
#custom-power {
  padding: 0 6px;
}

#clock,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#custom-clipboard,
#custom-power {
  min-width: 16px;
}

#clock,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#custom-clipboard,
#custom-power {
  color: @text;
}

#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted,
#network.disconnected {
  opacity: 0.55;
}

#clock:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#custom-clipboard:hover,
#custom-power:hover {
  background: @surface0;
}

#battery.critical:not(.charging) {
  animation: blink 0.6s steps(2) infinite alternate;
}

#custom-power {
  padding-right: 8px;
  background: transparent;
}

tooltip {
  color: @text;
  background: @mantle;
  border: 1px solid @surface1;
}

tooltip label {
  padding: 8px 10px;
}

@keyframes blink {
  to { color: @base; background: @text; }
}
